[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mongoengine = "*"
pytz = "*"
python-telegram-bot = "===12.2.0"
sentry-sdk = "*"
flake8 = "*"

[requires]
python_version = "3.7"
